/** ======== RESET ======== **/
html {
    background-color: #121B4F;
    background-image: -webkit-linear-gradient(top right, #050A28, #121B4F); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom left, #050A28, #121B4F); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    height: 100%;
    width: 100%;
}

body {background-color: transparent;}

p, h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
}
    h1 {
        font-weight: 100;
        text-align: center;
        font-size: 4.5em; /* do 4.5em when closer to finished */
        margin-top: 0.75em;
    }

    p {
        font-weight: 200;
        text-align: center;
    }


/** ======== PLANET COLUMN ======== **/

    .planet-column {
        /* padding-top: 5em; */
        position: relative; /* this is for the size reference div */
        min-height: 400px;
    }

    .planet-wrap {
        /* vertically center this totally messes with the ring though */
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);*/
    }

    .planet-wrap {
        /* vertically center this totally messes with the ring though */
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);*/
    }
    .planet-circle {
        border-radius: 600px;
        margin:0 auto;
        /* transform: rotateX(0deg); */

    }

        /** == DEFAULT SETTINGS == **/
        .default-color {background-color: #ccc;}
        .default-size {
            height: 10em;
            width: 10em;
        }

        /** == SIZES == **/
        .planet-circle.mercury {height: 100px; width: 100px;}
        .planet-circle.mars {height: 150px; width: 150px;}
        .planet-circle.venus {height: 200px; width: 200px;}
        .planet-circle.earth {height: 250px; width: 250px;}
        .planet-circle.neptune {height: 300px; width: 300px;}
        .planet-circle.uranus {height: 350px; width: 350px;}
        .planet-circle.saturn {height: 400px; width: 400px;}
        .planet-circle.jupiter {height: 450px; width: 450px;}

        /** == COLORS == **/
        .planet-circle.red { background-color: red; }
        .planet-circle.orange { background-color: orange; }
        .planet-circle.yellow { background-color: yellow; }
        .planet-circle.green { background-color: green; }
        .planet-circle.blue { background-color: blue; }

        /** == RINGS == **/
        .ring {
            width: 300px;
            height: 300px;
            margin-top: -5em;
            margin-left: -5em;
            border: 3em solid rgba(160, 147, 130, 0.7);
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform: rotateX(80deg);
            animation-duration: 353.36998s; /* not sure what this does */
            /** more stuff **/
            transition-duration: .8s;
            transition-timing-function: ease-in-out;
            position: absolute;
            /* top: 50%;
            left: 50%; */
            border-radius: 50%;
        }

            .ring:after {
                border-radius:50%;
                position: absolute; /* not sure what this does yet */
                content:'';
                top:50%;
                left: 50%;
                width:2.2em;
                height: 2.2em;
                margin-top: -1.1em; /* not sure if needed */
                margin-left: -1.1em; /* not sure if needed */
                border: 0.07em solid rgba(160, 147, 130, 0.5);
                box-sizing: border-box; /* not sure if needed */
            }

        .planet-column {
            transform-style: preserve-3d;
        }

        /** == PLANET SIZE REFERENCE == **/
        .planet-size-rings {
            position: absolute;

            /* debug helper */
            background: rgba(255,0,0,0.2);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .planet-size {
            border-radius: 100%;
            border: 1px solid #999;
            /* position: absolute;
            top:50%;
            left: 50%;
            display: block;
            */
            margin: 0 auto;
        }

            .planet-size.pluto {
                height: 10em;
                width: 10em;
            }
            .planet-size.pluto {
                height: 10em;
                width: 10em;
            }


/** ======== CONTROLS COLUMN ======== **/

.color-swatch {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
    .color-swatch.red {background-color: red;}
    .color-swatch.orange {background-color: orange;}
    .color-swatch.yellow {background-color: yellow;}
    .color-swatch.green {background-color: green;}
    .color-swatch.blue {background-color: blue;}



/** ======== TESTING ======== **/
/*
    .planet-column {background-color: purple;height:300px;}
    .controls-column {background-color: blue; height:200px;}
*/
